
body, html {
    font-size: 115%;
}

*,
*::after,
*::before {
	box-sizing: border-box;
}

* {
	scroll-behavior: smooth;
}

body {
	font-family: 'Roboto Mono', monospace;
	color: #fff;
	background: #000;
}

a {
	text-decoration: none;
	color: #fff;
	outline: none;
	cursor: pointer;
}

a:hover,
a:focus {
	color: #C2AB70;
	text-decoration: underline;
}

span {
	cursor: default;
}

.row {
    display: flex;
    flex-direction: row;

    align-items: baseline;
}

.color_gold, h1 {
    color: #C2AB70;
}

h1 {
    font-family: 'Playfair Display', serif;
    font-size: 2.5rem;
    margin: 0.75rem 0;
}